# Pandas Essentials:  Selecting Subsets of Data, Part I

The notebook exercises below provide practice in selecting subsets of data.  We focus on three months of data from the [Bay Area Bike Share](http://www.bayareabikeshare.com/open-data) program.

In [20]:
# Set max display columns and rows (for more compact view)
pd.options.display.max_columns = 10
pd.options.display.max_rows = 6

# Imports

In the cell below, import the pandas library.

# Loading Data

In the cell below, load the "babs_trips_april_thru_june_2016.csv" into a variable called `trips_df`.  This represents all rides for April through June, 2016.

In the cell below, peek at the firt few lines of the `trips_df` dataframe.

# Selecting Columns

In the cell below, write one line of code to select the Duration column via bracket notation.

In the cell below, write one line of code to select the Duration column via dot notation.

In the cell below, write one of code to determine the average duration of all trips (in minutes).  Note that the Duration column stores the trip duration in seconds.  [You should get 13.87 minutes].

In the cell below, write one line of code to determine the most popular Start Terminals.

In the cell below, write one line of code to determine the most popular End Terminals.

# Selecting Rows, Single Conditions

In the cell below, select all trips that start at Terminal 70 and store these rows into a new data frame called `trips_70.`

In the cell below, write one line of code to determine the number of rows in the `trips_70` data frame.  [You should get 6437]

In the cell below, write one line of code to determine the average Duration (in minutes) of all trips starting at Terminal 70. [You should get 12.47]

# Selecting Rows, Multiple Conditions

In the cell below, select all trips that start at Terminal 69 and end at Terminal 50.  Assign these records to a new data frame, called `trips_69_to_50`.

In the cell below, determine the number of trips in the `trips_69_to_50` data frame.

What is the average duration (in minutes) of these trips?

# Selecting Rows, Multiple Conditions

In the cell below, select atll trips that originate at stations 50, 24, 89 or 21.  Assign these rows to a new data frame called `trips_subset`.

In the cell below, determine the number of trips in the `trips_subset` data frame.

What is the average duration (in minutes) of these trips?