# Pandas Essentials:  Data Wrangling

The notebook exercises below provide practice in basic data wrangling. We focus on the NYC Pizza Inspection Data Set.

In [1]:
import pandas as pd

# Set max display columns and rows
pd.options.display.max_columns = 10
pd.options.display.max_rows = 10

# Loading the "Corrupted" NYC Pizza Inspection Data Set

In the cell below, load the "NYC_Pizza_2017_corrupted.csv" data set into a new data frame called `pizza_df`.  This is a file that I have manually corrupted to illustrate a number of key concepts.

In the cell below, take a peek at the `pizza_df` data frame.

In the cell below, output the data types associated with all columns in the `pizza_df` data frame.

# Transforming Data Types

In the cell below, transform the GRADE DATE column to a DateTime object.

The CAMIS data column currently contains values such as:

* 40363644.0
* 40363945.0

In the cell below, transform the CAMIS column to a String, and remove the trailing .0's from each string.  Your output should look like:

* 40363644
* 40363945

Hint:  you will need to call `astype()` followed by `str.replace`.

In the cell below, transform the ZIPCODE column to a String, and remove the trailing .0's from each string.

In the cell below, output the data types again, to verify that your changes have taken effect.

In the cell below, peak at your data frame to verify that the changes have taken effect.

# Dropping Columns

In the cell below, drop the BUILDING and STREET columns.

# Renaming columns

In the cell below, change all spaces to underscore in all column names.

In the cell below, verify that your columns name changes have taken effect.

# Dealing with NA Values

Using one line of code, determine the number of NA values in each column.  [You should see, for example that BORO is missing in 4 records].

Using one line of code, output all rows where BORO is missing.

How many rows are in your data frame?

Using one line of code, drop all rows that contain 1 or more NAs.

How big is your data frame now?

# Dealing with Duplicate Records

Does your data frame contain any duplicate records? [Answer = Yes, 1 duplicate record]

Using one line of code, drop all duplicate records.