# Pandas Essentials:  Selecting Subsets of Data

This Pandas Notebook illustrates the essentials of selecting subsets of data.  Concepts are illustrated with the [New York City pizza restaurant inspection data](https://github.com/ecerami/pydata-essentials/blob/master/pandas/data/NYC_Pizza_2017.csv).   

Topics include:

* Selecting columns.
* Selecting rows based on one or more boolean conditions.
* Selecting rows based on string matching and regular expressions.

In [1]:
# To get started, we load the NYC Pizza Restaurant Inspection Data Set
import pandas as pd
pizza_df = pd.read_csv("data/NYC_Pizza_2017.csv")

# Set max display columns and rows (for more compact view)
pd.options.display.max_columns = 4
pd.options.display.max_rows = 6

# Selecting Columns

Simple examples to get started --> Select one or more columns.

In [2]:
# Select a Single Column
pizza_df["SCORE"]

0        4.0
1       12.0
2       12.0
        ...
1145     9.0
1146     7.0
1147     6.0
Name: SCORE, dtype: float64

In [3]:
# Select Multiple Columns
pizza_df[["SCORE", "GRADE"]]

      SCORE GRADE
0       4.0     A
1      12.0     A
2      12.0     A
...     ...   ...
1145    9.0     A
1146    7.0     Z
1147    6.0     A

[1148 rows x 2 columns]

In [4]:
# Select a Single Column with dot notation (more compact)
pizza_df.SCORE

0        4.0
1       12.0
2       12.0
        ...
1145     9.0
1146     7.0
1147     6.0
Name: SCORE, dtype: float64

# Selecting Rows Based on Boolean Conditions

Next, we can select rows based on boolean conditions.

In [5]:
# As a baseline reference, determine total numer of rows in the pizza data frame
pizza_df.shape[0]

1148

## Single Boolean Conditions

In [6]:
# First illustrate logical boolean conditions
# Returns a Series with boolean values, TRUE indicates that the condition was met
pizza_df["GRADE"] == "A"

0        True
1        True
2        True
        ...
1145     True
1146    False
1147     True
Name: GRADE, dtype: bool

In [7]:
# Select all Restaurants with Grade == A

# Option 1:  Using Square Brackets
grade_a = pizza_df[pizza_df["GRADE"] == "A"]
print ("Total number of restaurants with Grade A:  %d" % grade_a.shape[0])

# Option 2:  More compact Dot Notation
grade_a = pizza_df[pizza_df.GRADE == "A"]
print ("Total number of restaurants with Grade A:  %d" % grade_a.shape[0])

Total number of restaurants with Grade A:  1043
Total number of restaurants with Grade A:  1043

In [8]:
# Select all Restuarants with a Grade == B
grade_b = pizza_df[pizza_df.GRADE == "B"]
print ("Total number of restaurants with Grade B:  %d" % grade_b.shape[0])

Total number of restaurants with Grade B:  67

In [9]:
# Select all Restuarants with a Grade == C;  restaurants you probably want to avoid!
grade_c = pizza_df[pizza_df.GRADE == "C"]
print ("Total number of restaurants with Grade C:  %d" % grade_c.shape[0])
grade_c.head(10)

Total number of restaurants with Grade C:  6

         CAMIS                              DBA     ...     GRADE  GRADE DATE
306   41174904                  TONY'S PIZZERIA     ...         C  2016-10-12
402   41351576         LEAN CRUST/ Silver Spoon     ...         C  2016-12-06
783   50011519  LA VITA MIA PIZZERIA RESTAURANT     ...         C  2016-09-13
860   50019036                       AJ'S PIZZA     ...         C  2017-01-23
1032  50047950          GINA'S PIZZA PASTA CAFE     ...         C  2016-11-17
1110  50057519            BELLA PIZZA AND GRILL     ...         C  2017-01-09

[6 rows x 10 columns]

In [10]:
# Select all Restaurants with a score of 3 or less.
# The lower the score, the fewer the number of inspection violations.
# These are the safest restaurants!
best_scores = pizza_df[pizza_df.SCORE <= 3]
print ("Number of Restaurants with the Best Scores:  %d" % best_scores.shape[0])

Number of Restaurants with the Best Scores:  119

## Multiple Boolean Conditions

To specify multiple boolean conditions:

* Use the operators:  `&` = and, `|` = or.
* Enclose each condition in parenthesis.
* Use `~` to negate.
* Use `isin()` to check against multiple values in a list.

In [11]:
# Find all C Restaurants in QUEENS
queens_grade_c = pizza_df[(pizza_df.GRADE == "C") & (pizza_df.BORO == "QUEENS")]
print ("Total number of restaurants in Queens with Grade C:  %d" % queens_grade_c.shape[0])

Total number of restaurants in Queens with Grade C:  4

In [12]:
# Find all Restaurants in Manhattan with a SCORE <= 2
best_manhattan = pizza_df[(pizza_df.BORO == "MANHATTAN") & (pizza_df.SCORE <=2)]
print ("Total number of Manhattan restaurants with a score <=2:  %d" % best_manhattan.shape[0])
best_manhattan.head(100)

Total number of Manhattan restaurants with a score <=2:  29

         CAMIS                         DBA     ...     GRADE  GRADE DATE
44    40395122  GINO'S PIZZERIA RESTAURANT     ...         A  2017-02-22
87    40566489                   PIZZA HUT     ...         A  2016-09-30
134   40721285                    DOMINO'S     ...         A  2017-03-24
...        ...                         ...     ...       ...         ...
1122  50058564              DREAMERS PIZZA     ...         A  2017-02-02
1133  50058921         PIERS PIZZA COMPANY     ...         A  2017-03-22
1143  50059977               LUIGI'S PIZZA     ...         A  2017-03-03

[29 rows x 10 columns]

In [13]:
# Find all B and C Restaurants using isin()
grades_b_c = pizza_df[pizza_df.GRADE.isin(["B", "C"])]
print ("Total number of restaurants with B or C:  %d" % grades_b_c.shape[0])

Total number of restaurants with B or C:  73

In [14]:
# Example of negating an isin() condition
grades_b_c = pizza_df[~pizza_df.GRADE.isin(["B", "C"])]
print ("Total number of restaurants with grades != B or C %d" % grades_b_c.shape[0])

Total number of restaurants with grades != B or C 1075

# Selecting Rows by String Values

For background on all the many "Ray's Original Pizza", "Famous Ray's Pizza" and "World-Famous Original Ray's Pizza" restaurants in New York City, see [Wikipedia](https://en.wikipedia.org/wiki/Ray%27s_Pizza).

To select by string values, you can:

* Check for exact matches.
* Use `str.contains` to match by substring.
* Use `str.match` to match by regular expression.
* Use `~` to negate the results.

## Exact String Match

In [15]:
# Find out how many RAY'S PIZZA Restaurants are in NYC (extact string match)
rays_df = pizza_df[pizza_df.DBA == "RAY'S PIZZA"]
rays_df

        CAMIS          DBA     ...     GRADE  GRADE DATE
24   40385873  RAY'S PIZZA     ...         A  2016-07-27
483  41456879  RAY'S PIZZA     ...         A  2016-07-26

[2 rows x 10 columns]

## Substring Match

In [16]:
# Find out how many restaurants contain the term "RAY'S"
rays_df = pizza_df[pizza_df.DBA.str.contains("RAY'S")]
print ("Total number of restaurants that contain the term RAY'S  %d" % rays_df.shape[0])
rays_df

Total number of restaurants that contain the term RAY'S  6

        CAMIS                          DBA     ...     GRADE  GRADE DATE
24   40385873                  RAY'S PIZZA     ...         A  2016-07-27
81   40548730       RAY'S PIZZA RESTUARANT     ...         A  2017-04-10
215  40918997           FAMOUS RAY'S PIZZA     ...         A  2016-10-20
271  41078099         ORIGINAL RAY'S PIZZA     ...         A  2016-03-31
279  41113339  FAMOUS ORIGINAL RAY'S PIZZA     ...         A  2017-03-03
483  41456879                  RAY'S PIZZA     ...         A  2016-07-26

[6 rows x 10 columns]

## Regular Expression Match

In [17]:
# Find out how many restaurants contain the term: RAY or REY
rays_df = pizza_df[pizza_df.DBA.str.match(".*R[A|E]Y")]
rays_df.head(10)

        CAMIS                          DBA     ...     GRADE  GRADE DATE
24   40385873                  RAY'S PIZZA     ...         A  2016-07-27
81   40548730       RAY'S PIZZA RESTUARANT     ...         A  2017-04-10
215  40918997           FAMOUS RAY'S PIZZA     ...         A  2016-10-20
..        ...                          ...     ...       ...         ...
279  41113339  FAMOUS ORIGINAL RAY'S PIZZA     ...         A  2017-03-03
483  41456879                  RAY'S PIZZA     ...         A  2016-07-26
749  50006691  REYS PIZZERIA & RERSTAURANT     ...         Z  2017-04-05

[7 rows x 10 columns]

In [18]:
# Example of Negating a Regular Expression
rays_df = pizza_df[~pizza_df.DBA.str.match(".*R[A|E]Y")]
rays_df.head(10)

       CAMIS                        DBA     ...     GRADE  GRADE DATE
0   40363644                   DOMINO'S     ...         A  2017-03-30
1   40363945                   DOMINO'S     ...         A  2017-03-02
2   40364920         RIZZO'S FINE PIZZA     ...         A  2016-11-03
..       ...                        ...     ...       ...         ...
7   40367789  DANI PIZZA AND RESTAURANT     ...         A  2016-12-08
8   40369262            JOHN'S PIZZERIA     ...         A  2016-07-13
9   40369482            ARMANDO'S PIZZA     ...         A  2017-03-17

[10 rows x 10 columns]