# Pandas Essentials:  Data Wrangling

This Pandas Notebook illustrates the essentials of "wrangling" your data.  We focus on three months of data from the [Bay Area Bike Share](http://www.bayareabikeshare.com/open-data) program.

Topics include:

* Transforming Datatypes
* Dropping Columns
* Renaming Columns
* Dealing with NA Values
* Dealing with Duplicate Records

# Loading the Bike Share Data Sets

To get started, let's load the three data files.

In [1]:
import pandas as pd

# Read in the Station Data
stations_df = pd.read_csv("data/babs_station_data.csv")

# Read in the Bike Share Weather Data
weather_df = pd.read_csv("data/babs_weather_april_thru_june_2016.csv")

# Read in the trips data
trips_df = pd.read_csv("data/babs_trips_april_thru_june_2016.csv")

# Set max display columns and rows
pd.options.display.max_columns = 10
pd.options.display.max_rows = 5

# Transforming Data Types

Next, let's transform the data types associated with specific columns.

In [2]:
# Before any transformation, these are our weather data types
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 24 columns):
PDT                           455 non-null object
Max TemperatureF              455 non-null int64
Mean TemperatureF             455 non-null int64
Min TemperatureF              455 non-null int64
Max Dew PointF                455 non-null int64
MeanDew PointF                455 non-null int64
Min DewpointF                 455 non-null int64
Max Humidity                  455 non-null int64
 Mean Humidity                455 non-null int64
 Min Humidity                 455 non-null int64
 Max Sea Level PressureIn     455 non-null float64
 Mean Sea Level PressureIn    455 non-null float64
 Min Sea Level PressureIn     455 non-null float64
 Max VisibilityMiles          454 non-null float64
 Mean VisibilityMiles         454 non-null float64
 Min VisibilityMiles          454 non-null float64
 Max Wind SpeedMPH            455 non-null int64
 Mean Wind SpeedMPH           455 non-null int64
 Max Gust SpeedMPH            348 non-null float64
PrecipitationIn               455 non-null object
 CloudCover                   455 non-null int64
 Events                       45 non-null object
 WindDirDegrees               455 non-null int64
ZIP                           455 non-null int64
dtypes: float64(7), int64(14), object(3)
memory usage: 85.4+ KB

In [3]:
# Let's transform some columns.
# Change PDT to a data time object.
# Change ZipCode to a String.
weather_df["PDT"] = pd.to_datetime(weather_df["PDT"])
weather_df["ZIP"] = weather_df["ZIP"].astype(int).astype(str)
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 24 columns):
PDT                           455 non-null datetime64[ns]
Max TemperatureF              455 non-null int64
Mean TemperatureF             455 non-null int64
Min TemperatureF              455 non-null int64
Max Dew PointF                455 non-null int64
MeanDew PointF                455 non-null int64
Min DewpointF                 455 non-null int64
Max Humidity                  455 non-null int64
 Mean Humidity                455 non-null int64
 Min Humidity                 455 non-null int64
 Max Sea Level PressureIn     455 non-null float64
 Mean Sea Level PressureIn    455 non-null float64
 Min Sea Level PressureIn     455 non-null float64
 Max VisibilityMiles          454 non-null float64
 Mean VisibilityMiles         454 non-null float64
 Min VisibilityMiles          454 non-null float64
 Max Wind SpeedMPH            455 non-null int64
 Mean Wind SpeedMPH           455 non-null int64
 Max Gust SpeedMPH            348 non-null float64
PrecipitationIn               455 non-null object
 CloudCover                   455 non-null int64
 Events                       45 non-null object
 WindDirDegrees               455 non-null int64
ZIP                           455 non-null object
dtypes: datetime64[ns](1), float64(7), int64(13), object(3)
memory usage: 85.4+ KB

In [4]:
# Before any transformation, these are our trips data types
trips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83537 entries, 0 to 83536
Data columns (total 11 columns):
Trip ID            83537 non-null int64
Duration           83537 non-null int64
Start Date         83537 non-null object
Start Station      83537 non-null object
Start Terminal     83537 non-null int64
End Date           83537 non-null object
End Station        83537 non-null object
End Terminal       83537 non-null int64
Bike #             83537 non-null int64
Subscriber Type    83537 non-null object
Zip Code           83509 non-null object
dtypes: int64(5), object(6)
memory usage: 7.0+ MB

In [5]:
# Let's transform some column data types.
# Change Start Data and End Data to Date Time objects.
trips_df["Start Date"] = pd.to_datetime(trips_df["Start Date"])
trips_df["End Date"] = pd.to_datetime(trips_df["End Date"])

In [6]:
# We can also use the Series dt attribute to extract specific data/time elements.
# Confirm that we are dealing with DatetimeProperties object.
type(trips_df["Start Date"].dt)

pandas.tseries.common.DatetimeProperties

In [7]:
# For example, we can extract just the date, just the month or just the day of week
# Very useful for different types of analyses.
# For example, now we can compare weekday trips v. weekend trips.
trips_df["Start Date Only"] = trips_df["Start Date"].dt.date
trips_df["Start Date Month"] = trips_df["Start Date"].dt.month
trips_df["Start Date Day of Week"] = trips_df["Start Date"].dt.dayofweek

# Dropping Columns

To prepare your data for analysis, it is frequently helpful to drop non-essential columns.

In [8]:
# For example, here is the original set of bike station columns
stations_df.columns

Index([u'station_id', u'name', u'lat', u'long', u'dockcount', u'landmark',
       u'installation'],
      dtype='object')

In [9]:
# Drop a few columns which are not essential to our analysis
stations_df.drop(labels=["installation"], axis="columns", inplace=True)
stations_df.drop(labels=["lat", "long"], axis="columns", inplace=True)

# Verify that the columns have indeed been dropped
stations_df.columns

Index([u'station_id', u'name', u'dockcount', u'landmark'], dtype='object')

# Renaming columns

To prepare your data for analysis, it is also frequently helpful to rename columns, to make them easier to understand or more consistent.

In [10]:
# For example, here are the original columns in the trips_df data frame.
trips_df.columns

Index([u'Trip ID', u'Duration', u'Start Date', u'Start Station',
       u'Start Terminal', u'End Date', u'End Station', u'End Terminal',
       u'Bike #', u'Subscriber Type', u'Zip Code', u'Start Date Only',
       u'Start Date Month', u'Start Date Day of Week'],
      dtype='object')

In [11]:
# We can rename a few columns to make them more explicit
trips_df.rename(columns = {'Duration':'Duration Seconds'}, inplace=True)
trips_df.rename(columns = {'Start Date':'Start Datetime'}, inplace=True)
trips_df.rename(columns = {'End Date':'End Datetime'}, inplace=True)

# Verify that changes have taken effect
trips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83537 entries, 0 to 83536
Data columns (total 14 columns):
Trip ID                   83537 non-null int64
Duration Seconds          83537 non-null int64
Start Datetime            83537 non-null datetime64[ns]
Start Station             83537 non-null object
Start Terminal            83537 non-null int64
End Datetime              83537 non-null datetime64[ns]
End Station               83537 non-null object
End Terminal              83537 non-null int64
Bike #                    83537 non-null int64
Subscriber Type           83537 non-null object
Zip Code                  83509 non-null object
Start Date Only           83537 non-null object
Start Date Month          83537 non-null int64
Start Date Day of Week    83537 non-null int64
dtypes: datetime64[ns](2), int64(7), object(5)
memory usage: 8.9+ MB

In [12]:
# You can also normalize all columns
# In this case, replace all spaces with underscores and make upper case
# This is very useful, as we can now reference all columns via DOT notation
trips_df.columns = trips_df.columns.str.replace(" ", "_")
trips_df.columns = trips_df.columns.str.upper()

# Verify changes have taken effect
trips_df.columns

Index([u'TRIP_ID', u'DURATION_SECONDS', u'START_DATETIME', u'START_STATION',
       u'START_TERMINAL', u'END_DATETIME', u'END_STATION', u'END_TERMINAL',
       u'BIKE_#', u'SUBSCRIBER_TYPE', u'ZIP_CODE', u'START_DATE_ONLY',
       u'START_DATE_MONTH', u'START_DATE_DAY_OF_WEEK'],
      dtype='object')

# Dealing with NA Values

Before doing an analysis, it's extremely important to understand "holes" in your data frame.  These "holes" are denoted as NaNs within Pandas data frames.  To illustrate, let's load up a corrupted version of the bike station file.

In [13]:
# Read in the Corroupted Station Data File
# I have manually corrupted the file by deleting fields, etc.
stations_corrupted_df = pd.read_csv("data/babs_station_data_corrupted.csv")

In [14]:
# Peak at the data set
stations_corrupted_df.head()

,station_id,name,lat,long,dockcount,landmark,installation
0,2.0,San Jose Diridon Caltrain Station,37.329732,-121.901782,27.0,San Jose,8/6/13
1,3.0,San Jose Civic Center,37.330698,-121.888979,15.0,San Jose,8/5/13
2,4.0,Santa Clara at Almaden,3.333988,-121.894902,11.0,San Jose,8/6/13
3,4.0,Santa Clara at Almaden,39.333988,-124.894902,11.0,San Jose,8/16/13
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# The isnull() method will return a new data frame with True/False Values
# True indicates that the value is null.
# For example, check out row id=4.
stations_corrupted_df.isnull()

   station_id   name    lat   long dockcount landmark installation
0       False  False  False  False     False    False        False
1       False  False  False  False     False    False        False
..        ...    ...    ...    ...       ...      ...          ...
70      False  False  False  False     False    False        False
71      False  False  False  False     False    False        False

[72 rows x 7 columns]

In [16]:
# A very handy trick to determine number of NAs by columns
stations_corrupted_df.isnull().sum(axis="index")

station_id      3
name            4
               ..
landmark        6
installation    4
dtype: int64

In [17]:
# How many rows consist of all NAs?
stations_corrupted_df.isnull().all(axis="columns").value_counts()

False    70
True      2
dtype: int64

In [18]:
# How many rows have 1 or more NAs?
stations_corrupted_df.isnull().any(axis="columns").value_counts()

False    53
True     19
dtype: int64

In [19]:
# Which rows are missing a station_id?
stations_corrupted_df[stations_corrupted_df.station_id.isnull()]

,station_id,name,lat,long,dockcount,landmark,installation
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,San Pedro Square,NaN,-121.894074,15.0,San Jose,8/7/13
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Which rows are missing dockcount data?
stations_corrupted_df[stations_corrupted_df.dockcount.isnull()]

,station_id,name,lat,long,dockcount,landmark,installation
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13.0,St James Park,37.339301,-121.889937,NaN,San Jose,8/6/13
14,14.0,Arena Green / SAP Center,37.332692,-121.900084,NaN,San Jose,8/5/13
15,16.0,SJSU - San Salvador at 9th,37.333955,-121.877349,NaN,San Jose,8/7/13
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There is no right answer as to how to handle NA values.  Generally, you can 1)  leave as is;  2) drop rows with NAs;  or 3) replace NAs with specific values.  Various options are illustrated below.

In [21]:
# Drop Example #1:  Drop all rows that contain only NAs
stations_subset = stations_corrupted_df.dropna(axis='index', how='all')
len(stations_corrupted_df) - len(stations_subset)

2

In [22]:
# Drop Example #2:  Drop all rows that contain >=1 NAs
stations_subset = stations_corrupted_df.dropna(axis='index', how='any')
len(stations_corrupted_df) - len(stations_subset)

19

In [23]:
# Drop Example #3:  Drop all rows where station_id or dockcount is NA
stations_subset = stations_corrupted_df.dropna(axis='index', how='any',
    subset = ["station_id", "dockcount"])
len(stations_corrupted_df) - len(stations_subset)

6

In [24]:
# Fill NA Example #1:  Change all NA values to specified String
stations_corrupted_df.fillna("Not Specified").head()

,station_id,name,lat,long,dockcount,landmark,installation
0,2,San Jose Diridon Caltrain Station,37.3297,-121.902,27,San Jose,8/6/13
1,3,San Jose Civic Center,37.3307,-121.889,15,San Jose,8/5/13
2,4,Santa Clara at Almaden,3.33399,-121.895,11,San Jose,8/6/13
3,4,Santa Clara at Almaden,39.334,-124.895,11,San Jose,8/16/13
4,Not Specified,Not Specified,Not Specified,Not Specified,Not Specified,Not Specified,Not Specified

In [25]:
# Fill NA Example #2:  
# Change NA Station_Ids to -1 and
# Change NA name to "Not Specified"
stations_corrupted_df.fillna({"station_id":-1, "name":"Not Specified"}).head()

,station_id,name,lat,long,dockcount,landmark,installation
0,2.0,San Jose Diridon Caltrain Station,37.329732,-121.901782,27.0,San Jose,8/6/13
1,3.0,San Jose Civic Center,37.330698,-121.888979,15.0,San Jose,8/5/13
2,4.0,Santa Clara at Almaden,3.333988,-121.894902,11.0,San Jose,8/6/13
3,4.0,Santa Clara at Almaden,39.333988,-124.894902,11.0,San Jose,8/16/13
4,-1.0,Not Specified,NaN,NaN,NaN,NaN,NaN

# Dealing with Duplicate Records

Before doing an analysis, it's also extremely important to understand if you data set contains duplicate records.  Multiple options for identifying and dropping duplicate records are shown below.

In [26]:
# Example #1:  Identify Completely Duplicate Records
stations_corrupted_df.duplicated().value_counts()

False    69
True      3
dtype: int64

In [27]:
# Example #2:  Identify Duplicate Records that have the same station ID and name
stations_corrupted_df.duplicated(subset=["station_id", "name"]).value_counts()

False    68
True      4
dtype: int64

In [28]:
# Example #3:  Drop Completely Duplicate Records
stations_sub = stations_corrupted_df.drop_duplicates()

# Verify that the new data frame contains fewer records
stations_sub.shape[0]

69

In [29]:
# Example #4:  Drop Duplicate Records that have the same Station ID and Name
stations_sub = stations_corrupted_df.drop_duplicates(subset=["station_id", "name"])

# Verify that the new data frame contains fewer records
stations_sub.shape[0]

68